.keypad {
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
}

.keypad-row {
    display: flex;
    gap: 0.65rem;
}

.keypad-row .btn {
    flex: 1;
}

.keypad-bottom {
    display: flex;
    gap: 0.65rem;
}

.keypad-bottom-left {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
}

.keypad-bottom-left .keypad-row {
    flex: 1;
}

.keypad-bottom > .btn-plus {
    flex: 1;
}